<% layout('layouts/boilerplate') %>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css' rel='stylesheet' />
<main class="container">
    <div class="d-flex align-items-center mb-3">
        <h1 class="me-auto">Shortlink Information</h1>
        <button id="btnCopyShortlink" type="button" class="btn btn-primary" data-bs-toggle="tooltip"
            data-bs-placement="top" data-bs-original-title="Copy to clipboard" value="<%=shortlink.newURL%>">Share <i
                class="bi bi-box-arrow-up-right"></i></button>
    </div>
    <div class="row">
        <div class="col-md-8 pe-md-5">
            <h3 class="mb-3">Tracking Analytics</h3>

            <% if(!accesses.length > 0) {%>
            <p>Your shortlink has not been accessed yet.</p>
            <% } %>

            <div id='map' style='width: 100%; height: 300px;' class="mb-3"></div>

            <script>
                var geojson = {
                    type: 'FeatureCollection',
                    features: []
                };
            </script>

            <% for(let access of accesses) {%>
            <script>
                var coord = '<%=access.coordinates%>';
                geojson.features.push({
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": [coord.split(',')[1], coord.split(',')[0]]
                    }
                })
            </script>
            <% } %>

            <script>
                mapboxgl.accessToken = '<%=process.env.MAPBOX_TOKEN%>';
                const map = new mapboxgl.Map({
                    container: 'map', // container ID
                    style: 'mapbox://styles/mapbox/streets-v11', // style URL
                    center: [8.3, 46.7], // starting position [lng, lat]
                    zoom: 0 // starting zoom, 5.5 for focus on Switzerland
                });

                // add markers to map
                for (const feature of geojson.features) {
                    // create a HTML element for each feature
                    const el = document.createElement('div');
                    el.className = 'c-mapbox-marker';

                    // make a marker for each feature and add to the map
                    new mapboxgl.Marker(el).setLngLat(feature.geometry.coordinates).addTo(map);
                }
            </script>

            <% if(accesses.length > 0) {%>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Timestamp</th>
                        <th scope="col" class="d-none d-lg-table-cell">IP</th>
                        <th scope="col">Location <i class="bi bi-info-circle text-primary" data-bs-toggle="modal"
                                data-bs-target="#locationInfo"></i></th>
                        <th scope="col" class="d-none d-lg-table-cell">Coordinates</th>
                        <th scope="col">Device</th>
                        <th scope="col" class="d-none d-lg-table-cell">Browser</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let access of accesses) {%>
                    <tr>
                        <td><%=access.timestamp.toLocaleString('de-DE')%></td>
                        <td class="d-none d-lg-table-cell"><%=access.ip%></td>
                        <td><%=access.location%></td>
                        <td class="d-none d-lg-table-cell"><%=access.coordinates%></td>
                        <td><%=access.device%></td>
                        <td class="d-none d-lg-table-cell"><%=access.browser%></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>

            <!-- Modal -->
            <div class="modal fade" id="locationInfo" tabindex="-1" aria-labelledby="locationInfoModalTitle"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="locationInfoModalTitle">Location Info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h5>Geolocation Accuracy</h5>
                            <p>Please note that the location is only an approximation based on the IP address of the
                                HTTP request and can be bypassed using a VPN.</p>
                            <p>Rough Accuracy Measures:</p>
                            <ul>
                                <li>Country: 95 % to 99 % accuracy</li>
                                <li>Region: 55 % to 80 % accuracy</li>
                                <li>City: 50 % to 75 % accuracy</li>
                            </ul>
                            <p>To learn more about this, click <a
                                    href="https://www.iplocation.net/geolocation-accuracy">here</a>.</p>
                            <br>
                            <h5>Bots</h5>
                            If you have posted your shortlink on social media (Instagram, Twitter, etc.), you may see
                            results from "bots".
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="col-md-4">
            <h3 class="mb-3">Properties</h3>
            <div class="d-flex align-items-center">
                <p class="me-auto mb-0 fw-bold text-nowrap pe-3">Name</p>
                <small class="d-inline-block text-truncate"><%=shortlink.name%></small>
            </div>
            <hr>
            <div class="d-flex align-items-center">
                <p class="me-auto mb-0 fw-bold text-nowrap pe-3">Description</p>
                <small class="d-inline-block text-truncate"><%=shortlink.description%></small>
            </div>
            <hr>
            <div class="d-flex align-items-center">
                <p class="me-auto mb-0 fw-bold text-nowrap pe-3">New URL</p>
                <small class="user-select-all d-inline-block text-truncate"><%=shortlink.newURL%></small>
            </div>
            <hr>
            <div class="d-flex align-items-center">
                <p class="me-auto mb-0 fw-bold text-nowrap pe-3">Tracking Analytics</p>
                <button class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#shareTracking">Share
                    Analytics <i class="bi bi-box-arrow-up-right"></i></button>
                <!-- Modal -->
                <div class="modal fade" id="shareTracking" tabindex="-1" aria-labelledby="modalTitle"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalTitle">Share Tracking Analytics</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Anyone with this link will have access to your tracking analytics.
                                <% if(!shortlink.owner){%>
                                <p>
                                    <i>
                                        <b>Important: </b>As you don't have an apex9 account, this link is the only way
                                        to access your tracking analytics.
                                    </i>
                                </p>
                                <% }%>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button id="copyTrackingLink" type="button" class="btn btn-primary"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-original-title="Copy to clipboard">Share <i
                                        class="bi bi-box-arrow-up-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-flex align-items-center">
                <p class="me-auto mb-0 fw-bold text-nowrap pe-3">Destination URL</p>
                <small class="user-select-all d-inline-block text-truncate"><%=shortlink.destinationURL%></small>
            </div>
            <hr>
            <div class="d-flex align-items-center">
                <p class="me-auto mb-0 fw-bold text-nowrap pe-3">Owner</p>
                <% if(!shortlink.owner){%>
                <small>none</small>
                <% }else{ %>
                <small><a class="text-decoration-none"
                        href="/user/@<%=shortlink.owner.username%>">@<%=shortlink.owner.username%></a></small>
                <% } %>
            </div>
        </div>
    </div>
</main>
<script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    const btnCopyShortlink = document.getElementById('btnCopyShortlink');
    btnCopyShortlink.addEventListener('click', copyShortlink);
    btnCopyShortlink.addEventListener('mouseleave', exitShortlink);

    function copyShortlink() {
        navigator.clipboard.writeText(btnCopyShortlink.value);
        btnCopyShortlink.setAttribute('data-bs-original-title', 'Copied!');
        bootstrap.Tooltip.getInstance(btnCopyShortlink).show();
    }

    function exitShortlink() {
        btnCopyShortlink.setAttribute('data-bs-original-title', 'Copy to clipboard');
        bootstrap.Tooltip.getInstance(btnCopyShortlink).hide();
    }

    const btnCopyTrackingLink = document.getElementById('copyTrackingLink');
    btnCopyTrackingLink.addEventListener("click", copyTrackingLink);
    btnCopyTrackingLink.addEventListener("mouseleave", exitTrackingLink);

    function copyTrackingLink() {
        navigator.clipboard.writeText(window.location.href);
        btnCopyTrackingLink.setAttribute('data-bs-original-title', 'Copied!');
        bootstrap.Tooltip.getInstance(btnCopyTrackingLink).show();
    }

    function exitTrackingLink() {
        btnCopyTrackingLink.setAttribute('data-bs-original-title', 'Copy to clipboard');
        bootstrap.Tooltip.getInstance(btnCopyTrackingLink).hide();
    }
</script>